<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <div th:unless="${jobs} and ${jobs.size()}">
        <h2>No results to show yet.</h2>
    </div>
    <div class="container" th:replace="search :: job-loop">
    </div>
</div>

</body>
</html>